*{
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
}

:root {
  font-family: Arial, Helvetica, sans-serif ;
  --general-color: #926239;
  --concom-color:  white;
}

.backrd {
  background-image: url(../images/bagckround-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color:var(--general-color);
  padding-top: 35vh;
}

.for-main-header {
  line-height: 1.2 ;
}

.concomitant-header-text {
  font-size: 20px;
}

.button-header {
  background-color: transparent;
  margin: 20px;
  padding: 10px 15px;
  border: 1px solid var(--general-color);
  border-radius: 10px;
  color:var(--general-color);
  font-size: 20px;
}

.button-header:hover,
.pouring1 {
  background-color:var(--general-color); 
  color: var(--concom-color);
}

.pouring2 {
  background-color: var(--concom-color);
  color: var(--general-color);
}

.small-sect {
  text-align: left;
  display: inline-block;
  max-width: 33.33%;
}


.center {
  text-align: center;
}

.pouring1,
.pouring2 {
  padding: 2%;
  font-size: 15px;
}

.remove-spaces{
  font-size: 0;
}