body {
  margin:0;
  color: #926239;
}

.backrd {
  background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1,p,button {
  text-align: center;
}

h1 {
  padding-top: 15vw;
  margin-top: 0;
}

button {
  background-color: rgba(28,28,28,0);
  padding: 15px 32px;
  margin-left: 43vw;
}